/* ----------------------------------------- Global -------------------------------------------- */


/* Body */

body {
    margin: 0;
    background-image: linear-gradient(to bottom right, lightcyan, azure);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 80px;
}

h2 {
    color: steelblue;
}

hr {
    margin-top: 50px;
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 9%;
}

hr:hover {
    border-color: lightsteelblue;
    border-width: 10px;
    width: 15%;
    transition: .5s;
}

div {
    text-align: center;
    margin: 0;
}


/* ------------------------------------------ Local ------------------------------------------- */

.title-text {
    font-size: 28px;
    line-height: 1;
    color: lightseagreen;
}

.title-text p {
    font-size: 22px;
    color: steelblue;
}

.pro {
    text-decoration: wavy lightseagreen underline;
}

.top-container {
    position: relative;
    padding: 50px;
    margin-bottom: 25px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    animation: topcloud 10s linear infinite alternate;
}

@keyframes topcloud {
    10%,
    100% {
        transform: translate(0, 300);
    }
    50% {
        transform: translate(100px, 0);
    }
    80% {
        transform: translate(-100px, 0);
    }
}

.bottom-cloud {
    position: absolute;
    top: 220px;
    left: 350px;
    animation: bottomcloud 10s linear infinite alternate;
}

@keyframes bottomcloud {
    0%,
    100% {
        transform: translate(0, 100);
    }
    50% {
        transform: translate(-150px, 0);
    }
}


/* --------------------------------- Second Container --------------------------------- */

.middle-container {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.intro {
    width: 35%;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    line-height: 2;
    color: cornflowerblue;
}

.middle-container h2 {
    color: steelblue;
}

.middle-container a {
    color: cornflowerblue;
    text-shadow: cadetblue;
    font-size: 18px;
}

.middle-container a:hover {
    color: royalblue;
    text-align: left;
    text-shadow: cadetblue;
    font-size: 25px;
    font-variant-caps: all-small-caps;
}

#comptia {
    width: 275px;
    height: 50px;
    padding: 23px;
}

#star-cert {
    padding: 25px;
    height: 50px;
    margin: 15px;
}

#redhat {
    margin-top: 3px;
    padding-left: 20px;
}

.cert-row-red {
    width: 75%;
    margin: 50px auto 50px auto;
    text-align: left;
}

.cert-row-red:hover>#comptia {
    text-align: left;
    color: red;
    transition: 2s;
}

.cert-row-red:hover>#redhat {
    text-align: left;
    color: red;
    transition: 2s;
}

.rhead {
    float: left;
    margin-right: 35px;
    width: 25%;
}

.rhead:hover {
    text-align: center;
    color: red;
    transition: 1.5s;
}

.cert-row-star {
    width: 75%;
    margin: 50px auto 50px auto;
    text-align: left;
}

.cert-row-star:hover>#star-cert {
    text-align: center;
    color: green;
    transition: 1.5s;
}

.ghead {
    float: right;
}

.cert-row-star p {
    margin-right: 25px;
    text-align: right;
}

.ghead:hover {
    text-align: center;
    color: green;
    transition: 1.5s;
}

.cert-desc {
    text-align: left;
    line-height: 2;
    margin-left: 35px;
}

.star li {
    text-align: right;
    margin-left: 25%;
    transition: 1s;
}

.column li {
    text-align: left;
    left: 15%;
}

.column li:hover {
    font-size: 25px;
    transition: .5s;
}

.star:hover h2,
li {
    color: limegreen;
    font-size: 27px;
    transition: .5s;
}

.red:hover h2,
li {
    color: red;
    font-size: 27px;
    transition: .5s;
}

.column {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.schart {
    padding: 200px;
    padding-top: 50px;
    padding-bottom: 0;
    height: 250px;
    text-align: left;
}

.container {
    width: 100%;
    margin: 10 auto 10 auto;
    background-color: transparent;
}

.skills {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: steelblue;
}

.schart:hover #html {
    color: whitesmoke;
    width: 95%;
    animation-play-state: running;
    -webkit-animation-play-state: running;
    animation-delay: .5s;
}

.schart:hover #css {
    color: whitesmoke;
    width: 85%;
    animation-play-state: running;
    -webkit-animation-play-state: running;
    animation-delay: 1s;
}

.schart:hover #js {
    color: whitesmoke;
    width: 60%;
    animation-play-state: running;
    -webkit-animation-play-state: running;
    animation-delay: 2s;
}

.schart:hover #java {
    color: whitesmoke;
    width: 75%;
    animation-play-state: running;
    -webkit-animation-play-state: running;
    animation-delay: 1.5s;
}

.schart:hover #c {
    color: whitesmoke;
    width: 90%;
    animation-play-state: running;
    -webkit-animation-play-state: running;
    animation-delay: .5s;
}

.schart:hover #cpp {
    color: whitesmoke;
    width: 80%;
    animation-play-state: running;
    -webkit-animation-play-state: running;
    animation-delay: 1.5s;
}

.schart:hover #csharp {
    color: whitesmoke;
    width: 85%;
    animation-play-state: running;
    -webkit-animation-play-state: running;
    animation-delay: 1s;
}

.schart:hover #python {
    color: whitesmoke;
    width: 75%;
    animation-play-state: running;
    -webkit-animation-play-state: running;
    animation-delay: 2s;
}

.html {
    width: 0;
    background-color: #00b0ff;
    animation-name: html;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

@keyframes html {
    from {
        width: 0%;
    }
    to {
        width: 95%;
    }
}

@keyframes css {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes js {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}

@keyframes java {
    from {
        width: 0%;
    }
    to {
        width: 75%;
    }
}

@keyframes c {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}

@keyframes cpp {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes csharp {
    from {
        width: 0%;
    }
    to {
        width: 85%;
    }
}

@keyframes python {
    from {
        width: 0%;
    }
    to {
        width: 75%;
    }
}

.css {
    width: 0;
    background-color: #0091ea;
    animation-name: css;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-play-state: paused;
    -webkit-animation-play-state: paused
}

.js {
    width: 0;
    background-color: #0091ea;
    animation-name: js;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-play-state: paused;
    -webkit-animation-play-state: paused
}

.java {
    width: 0;
    background-color: #00b0ff;
    animation-name: java;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-play-state: paused;
    -webkit-animation-play-state: paused
}

.c {
    width: 0;
    background-color: #0091ea;
    animation-name: c;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-play-state: paused;
    -webkit-animation-play-state: paused
}

.cpp {
    width: 0;
    background-color: #00b0ff;
    animation-name: cpp;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-play-state: paused;
    -webkit-animation-play-state: paused
}

.csharp {
    width: 0;
    background-color: #0091ea;
    animation-name: csharp;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-play-state: paused;
    -webkit-animation-play-state: paused
}

.python {
    width: 0;
    background-color: #00b0ff;
    animation-name: python;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-play-state: paused;
    -webkit-animation-play-state: paused
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    margin-bottom: 0px;
}

.contact-message {
    width: 50%;
    margin: 40px auto 60px;
    padding: 15px;
}

.contact-message p {
    color: cornflowerblue;
    line-height: 1;
}

.contact-message strong {
    line-height: 1;
    color: cadetblue;
}

.bottom-container a {
    padding: 15px;
    margin: 15px;
}

.copyright {
    color: #EAF6F6;
    font-size: 1rem;
    padding-bottom: 0;
    padding: 20px;
}

.btn {
    -moz-box-shadow: 3px 4px 10px 0px #66bfbf;
    -webkit-box-shadow: 3px 4px 10px 0px #66bfbf;
    box-shadow: 3px 4px 10px 0px #66bfbf;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e0ffff), color-stop(1, #66bfbf));
    background: -moz-linear-gradient( center top, #e0ffff 5%, #66bfbf 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e0ffff', endColorstr='#66bfbf');
    background-color: #e0ffff;
    -webkit-border-top-left-radius: 32px;
    -moz-border-radius-topleft: 32px;
    border-top-left-radius: 32px;
    -webkit-border-top-right-radius: 32px;
    -moz-border-radius-topright: 32px;
    border-top-right-radius: 32px;
    -webkit-border-bottom-right-radius: 32px;
    -moz-border-radius-bottomright: 32px;
    border-bottom-right-radius: 32px;
    -webkit-border-bottom-left-radius: 32px;
    -moz-border-radius-bottomleft: 32px;
    border-bottom-left-radius: 32px;
    text-indent: 0;
    border: 1px solid #87e8e8;
    display: inline-block;
    color: #ffffff;
    font-family: Georgia;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    height: 55px;
    line-height: 55px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 1px 10px #e0ffff;
}

.btn:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #66bfbf), color-stop(1, #e0ffff));
    background: -moz-linear-gradient( center top, #66bfbf 5%, #e0ffff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#66bfbf', endColorstr='#e0ffff');
    background-color: #66bfbf;
}

.btn:active {
    position: relative;
    top: 1px;
}